@model List<Bespereboiniki.Datalayer.Tables.UPS>
<head>
    <title>Whats up</title>
    <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" type="text/css"/>
</head>
<div>
    <h3 style="text-align: center">Надоело работать? Жми ->  <a  href="/Account/SignOut/">тикаем у бар, хлопци!</a></h3>
    <h2 style="text-align: center"> </h2>
    <h1 style="text-align: center">Бесперебойники.рф</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Uin</th>
            <th>Uout</th>
            <th>Width</th>
            <th>Height</th>
            <th>Length</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var ups in Model)
            {
                <tr>
                    <td>
                        @ups.Name
                    </td>
                    <td>
                        @ups.Uin
                    </td>
                    <td>
                        @ups.Uout
                    </td>
                    <td>
                        @ups.Width
                    </td>
                    <td>
                        @ups.Height
                    </td>
                    <td>
                        @ups.Length
                    </td>
                </tr>
            }
        }
        <!-- and so on... -->
        </tbody>
    </table>
</div>