@{
    Layout = "~/Views/_Layout.cshtml";
}

@model List<Bespereboiniki.Datalayer.Tables.UPS>
<div>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Uin</th>
            <th>Uout</th>
            <th>Width</th>
            <th>Height</th>
            <th>Length</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var ups in Model)
            {
                <tr>
                    <td>
                        @ups.Name
                    </td>
                    <td>
                        @ups.Uin
                    </td>
                    <td>
                        @ups.Uout
                    </td>
                    <td>
                        @ups.Width
                    </td>
                    <td>
                        @ups.Height
                    </td>
                    <td>
                        @ups.Length
                    </td>
                </tr>
            }
        }
        <!-- and so on... -->
        </tbody>
    </table>
</div>